body {
    margin: 0;
    padding: 0;
    word-wrap:break-word; word-break:break-all;
    /* font-family: 'Cairo'; */
    font-family: 'Exo', sans-serif;
}
ul {
    list-style: none;
}
header {
    height: 80px;
    font-size: 0;
}
main {
    font-size: 0;
    /* height: 600px; */
}
.helper {
    /* display: inline-block; */
    height: 7px;
    width: 100%;
    vertical-align: middle;
}
footer {
    font-size: 0;
}

/* header */
.header {
    font-size: 1rem;
    float: left;
}
.header-left {
    width: 30%;
    height: 100%;
}
.header-left-logo {
    margin-left: 20px;
    margin-top: 15px;
    width: 220px;
    height: 80px;
}
.header-left-logo img {
    width: 100%;
    height: 80%;
}
.header-right {
    width: 70%;
    height: 100%;
    text-align: right;
}
.navbar {
    font-family: 'Cairo';
    display: inline-block;
    margin-top: 25px;
    margin-right: 20px;
}
.navbar li {
    padding-left: 20px;
    /* navbar 오른쪽 메뉴들을 가로 정렬 시켜줌, inline-block으로 하면 지구본 모양을 hover시켰을때 자리가 바뀜 */
    float: left; 
    list-style: none; 
    /*이걸해야 지구본에 마우스 올렸을 때 글자들이 제대로 나옴*/
    position: relative;
}
.fa-globe {
    font-size: 1.5rem;
    background-color: white;
    margin-top: 7px;
    /* 지구본이 가운데정렬 */
    text-align: center;
    /* 지구본이 차지하는 너비 */
    width: 67px;
}
.navbar li i ul {
    /* margin-left: -5px; */
    margin-top: -2px;
    display: none;
}
.navbar li i ul li a {
    font-size: 12px;
    color: rgb(30, 60, 43);
    font-weight: bold;
    margin-left: -11px;
    width: 100%;
}
.navbar li:hover .language {
    padding: 0;
    display: block;
}
.navbar li a {
    color: rgb(30, 60, 43);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}
.navbar li a:hover {
    text-decoration: underline;
}
.navbar li a i:hover {
    text-decoration: underline;
}
.navbar-menu {
    margin-top: 30px;
    margin-left: -10px;
    padding: 0 20px;
    display: none;
}
.navbar-menu li {
    list-style: none;
}
.fa-bars {
    font-size: 3.52222rem;
    color:white; 
    background-color:  rgb(30, 60, 43); 
    border: 3px solid  rgb(30, 60, 43);
    cursor: pointer;
}
.hidden {
    display: none;
    background-color: rgb(30, 60, 43);
}
.hidden-navbar {
    text-align: center;
}
.hidden-navbar li {
    padding-left: 50px;
    font-weight: 500;
    display: inline-block;
}
.hidden-navbar li a {
    color: #fff;
    text-decoration: none;
}
.hidden-navbar li a:hover {
    text-decoration: underline;
}

/* MANUFACTURE글자 & 녹색바탕 있는 부분 */
.main-title {
    width: 100%;
    height: 35px;
    background-color: rgb(30, 60, 43);
}
.main-title-letter {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 25px;
    text-indent: 23px;
}
.main {
    font-size: 1rem;
    float: left;
}
.main1 {
    height: 420px;
    margin-top: 20px;
    margin: 0 100px;
    /* text-align: center; */
}
.main1-left {
    width: 45%;
    height: inherit;
    text-align: center;
}
.main1-left-word {
    font-weight: bold;
    color: rgb(30, 60, 43);
    /* margin-left: 10%; */
    margin-right: -100px;
}
.main1-left-word h1 {
    font-size: 45px;
    font-weight: bold;
}
.main1-left-word p {
    font-size: 30px;
    opacity: 0.75;
    /* text-indent: 120px; */
    /* text-align: left; */
}
.main1-right {
    width: 55%;
    height: inherit;
    text-align: left;
}
.main1-right h1 {
    color: rgb(30, 60, 43);
    font-size: 45px;
    text-indent: 70px;
}
.main1-right img {
    /* width: 88%; */
    width: 500px;
    height: 250px;
    margin-top: 10px;
    margin-left: 20px;
}
/* main2 */
.main2 {
    height: 580px;
    margin: 0 100px;
    text-align: center;
}
.main2-left {
    width: 40%;
    height: inherit;
}
.main2-left img {
    width: 500px;
    height: 557px;
    margin-left: -50px;
}
.main2-right {
    width: 60%;
    height: inherit;
    text-indent: 120px;
    text-align: left;
}
.main2-right h1 {
    color: rgb(30, 60, 43);
    font-size: 45px;
    margin-top: 50px;
}
.main2-right img {
    /* width: 88%; */
    width: 500px;
    height: 390px;
    margin-left: 70px;
    margin-top: 20px;
}

/* footer */
.footer {
    float: left;
}
.footer-top {
    width: 100%;
    height: 400px;
}
.footer-top-left {
    width: 40%;
    height: 100%;
    background-color: rgb(30, 60, 43);
}
.footer-top-left-contactus {
    line-height: 44px;
    text-align: center;
    color: white;
}
/*이게 있어야 안에 글자들이 좌우 스크롤 했을때 그대로 왔다 갔다가 함*/
.container-contact-A {
    margin-top: 45px;
    text-align: center;
    font-size: 33px;
}
.container-contact-B {
    margin-top: 20px;
}
.footer-top-left li {
    list-style: none;
}
.footer-top-left li a {
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    text-decoration: none;
}
.footer-top-left li a:hover {
    text-decoration: underline;
}
.footer-top-right {
    width: 60%;
    height: 100%;
}
.footer-top-right-map {
    width: 100%;
    height: 100%;
}
.footer-bottom {
    height: 60px;
    /* width: 100%; */
    border-top: #fff solid 15px;
    background-color: rgb(30, 60, 43);
}
.footer-bottom-left {
    width: 35%;
    height: 100%;
}
/*맨 밑에 Paxtek 로고 둘 자리확보*/
.footer-bottom-left-logo {
    margin-left: 28px;
    margin-top: 5px;
    width: 150px;
    height: 50px;
}
.footer-bottom-left-logo img {
    width: 100%;
    height: 100%;
}
.footer-bottom-right {
    width: 65%;
    height: 100%;
    text-align: right;
    display: table;
}
.footer-bottom-right-word {
    margin: 0;
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle;
}
.footer-bottom-right-word li {
    padding-left: 20px;
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 0.88889rem;
}
.footer-bottom-right-word li a:hover {
    text-decoration: underline;
}

@media (max-width: 650px) {
    .navbar {
        padding: 0 10px;
    }
}

/* 테블릿 사이즈 */
@media (max-width: 1023px) {
    .header-left{
        width: 25%;
    }
    .header-right{
        width: 75%;
    }
    .navbar {
        display: none;
    }
    .navbar-menu {
        display: inline-block;
        margin-top: 10px;
    }
    .hidden-navbar li {
        height: 100%;
        padding: 0 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .helper {
        height: 3px;
    }
    .fa-bars {
        font-size: 3em;
        margin-top: 7px;
    }
    /* MANUFACTURE글자 & 녹색바탕 있는 부분 */
    .main-title {
        height: 30px;
    }
    .main-title-letter {
        font-size: 22px;
    }
    
    .main1 {
        height: 700px;
        margin-top: 10px;
    }
    .main1-left {
        width: 100%;
        height: 50%;
        text-indent: -90px;
    }
    .main1-left-word h1 {
        font-size: 40px;
    }
    .main1-left-word p {
        font-size: 25px;
    }
    .main1-right {
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .main1-right h1 {
        font-size: 40px;
        text-indent: 0px;;
    }
    .main1-right img {
        /* width: 88%; */
        width: 430px;
        height: 210px;
        margin-left: -10px;
    }
    /* main2 */
    .main2 {
        height: 900px;
        text-align: center;
    }
    .main2-left {
        width: 100%;
        height: 50%;
    }
    .main2-left img {
        width: 300px;
        height: 400px;
    }
    .main2-right {
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .main2-right h1 {
        color: rgb(30, 60, 43);
        font-size: 40px;
        margin-top: 0px;
        margin-left: -120px;
    }
    .main2-right img {
        /* width: 88%; */
        width: 400px;
        height: 300px;
        margin-left: -10px;
        margin-top: 20px;
    }

    .footer-top {
        height: 500px;
    }
    .footer-top-left, .footer-top-right {
        width: 100%;
        height: 250px;
    }
    .container-contact-A, .container-contact-B {
        width: 50%;
        margin-top: 50px;
        float: left;
    }
    .footer-bottom {
        border-top: #fff solid 10px;
    }
}

/* 휴대폰 사이즈 */
@media (max-width: 590px) {
    header {
        height: 60px;
    }
    .header-left {
        width: 60%;
    }
    .header-right {
        width: 40%;
    }
    .header-left-logo {
        margin-top: 10px;
        margin-left: 10px;
    }
    .header-left-logo img {
        width: 70%;
        height: 50%;
    }
    .navbar-menu {
        margin-top: 10px;
    }
    .hidden-navbar li {
        height: 100%;
        padding: 0 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    /* MANUFACTURE글자 & 녹색바탕 있는 부분 */
    .main-title {
        height: 20px;
    }
    .main-title-letter {
        font-size: 15px;
        text-indent: 15px;
    }
    .fa-bars {
        font-size: 2.22222rem;
        margin-top: 2px;
    }

    .main1 {
        height: 500px;
        margin-top: 10px;
    }
    .main1-left-word h1 {
        font-size: 30px;
    }
    .main1-left-word p {
        font-size: 20px;
    }
    .main1-right h1 {
        font-size: 30px;
    }
    .main1-right img {
        width: 250px;
        height: 130px;
        margin-left: -34px;
    }
    /* main2 */
    .main2 {
        height: 690px;
    }
    .main2-left img {
        width: 200px;
        height: 300px;
        margin-left: -40px;
    }
    .main2-right h1 {
        font-size: 23px;
        margin-top: -20px;
    }
    .main2-right img {
        width: 230px;
        height: 200px;
        margin-left: -20px;
    }

    .footer-top {
        height: 340px;
    }
    .footer-top-left, .footer-top-right {
        height: 170px;
    }
    /* Want to know ~~ 글자 있는 박스 부분*/
    .container-contact-A, .container-contact-B {
        margin-top: 16px;
        font-size: 1.2rem;
    }
    .container-contact-B li a {
        font-size: 1.0rem;
    }
    .footer-bottom {
        height: 40px;
        border-top: #fff solid 5px;
    }
    .footer-bottom-left-logo {
        margin-left: 5px;
        margin-top: 5px;
        width: 100px;
        height: 30px;
    }
}


