body {
    margin: 0;
    padding: 0;
    word-wrap:break-word; word-break:break-all;
    /* font-family: 'Cairo'; */
    font-family: 'Exo', sans-serif;
}
ul {
    list-style: none;
}
header {
    height: 80px;
    font-size: 0;
}
main {
    font-size: 0;
    /* height: 600px; */
}
.helper {
    /* display: inline-block; */
    height: 7px;
    width: 100%;
    vertical-align: middle;
}
footer {
    font-size: 0;
}

/* header */
.header {
    font-size: 1rem;
    float: left;
}
.header-left {
    width: 30%;
    height: 100%;
}
.header-left-logo {
    margin-left: 20px;
    margin-top: 15px;
    width: 220px;
    height: 80px;
}
.header-left-logo img {
    width: 100%;
    height: 80%;
}
.header-right {
    width: 70%;
    height: 100%;
    text-align: right;
}
.navbar {
    font-family: 'Cairo';
    display: inline-block;
    margin-top: 25px;
    margin-right: 20px;
}
.navbar li {
    padding-left: 20px;
    /* navbar 오른쪽 메뉴들을 가로 정렬 시켜줌, inline-block으로 하면 지구본 모양을 hover시켰을때 자리가 바뀜 */
    float: left; 
    list-style: none; 
    /*이걸해야 지구본에 마우스 올렸을 때 글자들이 제대로 나옴*/
    position: relative;
}
.fa-globe {
    font-size: 1.5rem;
    background-color: white;
    margin-top: 7px;
    /* 지구본이 가운데정렬 */
    text-align: center;
    /* 지구본이 차지하는 너비 */
    width: 67px;
}
.navbar li i ul {
    /* margin-left: -5px; */
    margin-top: -2px;
    display: none;
}
.navbar li i ul li a {
    font-size: 12px;
    color: rgb(30, 60, 43);
    font-weight: bold;
    margin-left: -11px;
    width: 100%;
}
.navbar li:hover .language {
    padding: 0;
    display: block;
}
.navbar li a {
    color: rgb(30, 60, 43);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}
.navbar li a:hover {
    text-decoration: underline;
}
.navbar li a i:hover {
    text-decoration: underline;
}
.navbar-menu {
    margin-top: 30px;
    margin-left: -10px;
    padding: 0 20px;
    display: none;
}
.navbar-menu li {
    list-style: none;
}
.fa-bars {
    font-size: 3.52222rem;
    color:white; 
    background-color:  rgb(30, 60, 43); 
    border: 3px solid  rgb(30, 60, 43);
    cursor: pointer;
}
.hidden {
    display: none;
    background-color: rgb(30, 60, 43);
}
.hidden-navbar {
    text-align: center;
}
.hidden-navbar li {
    padding-left: 50px;
    font-weight: 500;
    display: inline-block;
}
.hidden-navbar li a {
    color: #fff;
    text-decoration: none;
}
.hidden-navbar li a:hover {
    text-decoration: underline;
}

/* MANUFACTURE글자 & 녹색바탕 있는 부분 */
.main-title {
    width: 100%;
    height: 35px;
    background-color: rgb(30, 60, 43);
}
.main-title-letter {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 25px;
    text-indent: 23px;
}
/* 사진들 있는 부분 */
.main {
    /* 사진 가운데 정렬 */
    text-align: center;
}
.frame {
    padding: 40px 12%;
}
.img-wrapper {
    margin: 30px;
    font-size: 20px;
    cursor: pointer;
    width: 300px;
    height: 400px;
    display: inline-block;
    /* padding: 0 10px 10px 10px; */
    position: relative;
    overflow: hidden;
}
/* img-wrapper로 사진 크기를 정하고(300,400), img의 실제 크기는 여기에 상속 */
.img-wrapper img {
    width: inherit;
    height: inherit;
    transition: all 0.5s linear;
}
.letter {
    position: absolute;
    font-size:1.5em;
    color:#fff;
    font-weight: 400;
    text-transform: capitalize;
    left: 15px;
    bottom: 3px;
}
.img-wrapper:hover img {
    transform: scale(1.2);
}
.img-wrapper:hover .letter {
    transform: scale(1.1);
    /* color: black; */
    /* font-size: 2.5em; */
}
/* 공장 전체 사진 있는 부분 */
.main-bottom {
    display: inline-block;
    width: 100%;
    height: 550px;
}
.main-bottom img {
    width: 100%;
    height: 100%;
}
.main-bottom-left {
    width: 70%;
    height: 100%;
    height: inherit;
    float: left;
}
.main-bottom-right {
    width: 30%;
    height: 100%;
    height: inherit;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(30, 60, 43);
}
.main-bottom-right-outside {
    margin: 30px;
}
.main-bottom-right-outside span {
    color: white;
    font-size: 1.8rem;
}

/* footer */
.footer {
    float: left;
}
.footer-top {
    width: 100%;
    height: 400px;
}
.footer-top-left {
    width: 40%;
    height: 100%;
    background-color: rgb(30, 60, 43);
}
.footer-top-left-contactus {
    line-height: 44px;
    text-align: center;
    color: white;
}
/*이게 있어야 안에 글자들이 좌우 스크롤 했을때 그대로 왔다 갔다가 함*/
.container-contact-A {
    margin-top: 45px;
    text-align: center;
    font-size: 33px;
}
.container-contact-B {
    margin-top: 20px;
}
.footer-top-left li {
    list-style: none;
}
.footer-top-left li a {
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    text-decoration: none;
}
.footer-top-left li a:hover {
    text-decoration: underline;
}
.footer-top-right {
    width: 60%;
    height: 100%;
}
.footer-top-right-map {
    width: 100%;
    height: 100%;
}
.footer-bottom {
    height: 60px;
    /* width: 100%; */
    border-top: #fff solid 15px;
    background-color: rgb(30, 60, 43);
}
.footer-bottom-left {
    width: 35%;
    height: 100%;
}
/*맨 밑에 Paxtek 로고 둘 자리확보*/
.footer-bottom-left-logo {
    margin-left: 28px;
    margin-top: 5px;
    width: 150px;
    height: 50px;
}
.footer-bottom-left-logo img {
    width: 100%;
    height: 100%;
}
.footer-bottom-right {
    width: 65%;
    height: 100%;
    text-align: right;
    display: table;
}
.footer-bottom-right-word {
    margin: 0;
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle;
}
.footer-bottom-right-word li {
    padding-left: 20px;
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 0.88889rem;
}
.footer-bottom-right-word li a:hover {
    text-decoration: underline;
}

@media (max-width: 650px) {
    .navbar {
        padding: 0 10px;
    }
}

/* 테블릿 사이즈 */
@media (max-width: 1023px) {
    .header-left{
        width: 25%;
    }
    .header-right{
        width: 75%;
    }
    .navbar {
        display: none;
    }
    .navbar-menu {
        display: inline-block;
        margin-top: 10px;
    }
    .hidden-navbar li {
        height: 100%;
        padding: 0 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .helper {
        height: 3px;
    }
    .fa-bars {
        font-size: 3em;
        margin-top: 7px;
    }
    /* MANUFACTURE글자 & 녹색바탕 있는 부분 */
    .main-title {
        height: 30px;
    }
    .main-title-letter {
        font-size: 22px;
    }
    .frame {
        margin: -30px 0;
    }
    .img-wrapper {
        font-size: 18px;
        width: 250px;
        height: 350px;
        margin: 10px 10px;
    }
    .main-bottom {
        height: 100%;
    }
    .main-bottom-left, .main-bottom-right {
        height: 300px;
    }
    .main-bottom-right-outside {
        height: 100%;
    }
    .main-bottom-right-outside span {
        font-size: 1rem;
    }
    .footer-top {
        height: 500px;
    }
    .footer-top-left, .footer-top-right {
        width: 100%;
        height: 250px;
    }
    .container-contact-A, .container-contact-B {
        width: 50%;
        margin-top: 50px;
        float: left;
    }
    .footer-bottom {
        border-top: #fff solid 10px;
    }
}

/* 휴대폰 사이즈 */
@media (max-width: 590px) {
    header {
        height: 60px;
    }
    .header-left {
        width: 60%;
    }
    .header-right {
        width: 40%;
    }
    .header-left-logo {
        margin-top: 10px;
        margin-left: 10px;
    }
    .header-left-logo img {
        width: 70%;
        height: 50%;
    }
    .navbar-menu {
        margin-top: 10px;
    }
    .hidden-navbar li {
        height: 100%;
        padding: 0 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    /* MANUFACTURE글자 & 녹색바탕 있는 부분 */
    .main-title {
        height: 20px;
    }
    .main-title-letter {
        font-size: 15px;
        text-indent: 15px;
    }
    .fa-bars {
        font-size: 2.22222rem;
        margin-top: 2px;
    }
    .main-bottom-left, .main-bottom-right {
        height: 200px;
    }
    .footer-top {
        height: 340px;
    }
    .footer-top-left, .footer-top-right {
        height: 170px;
    }
    .main-bottom-right-outside span {
        font-size: 0.5rem;
    }
    /* Want to know ~~ 글자 있는 박스 부분*/
    .container-contact-A, .container-contact-B {
        margin-top: 16px;
        font-size: 1.2rem;
    }
    .container-contact-B li a {
        font-size: 1.0rem;
    }
    .footer-bottom {
        height: 40px;
        border-top: #fff solid 5px;
    }
    .footer-bottom-left-logo {
        margin-left: 5px;
        margin-top: 5px;
        width: 100px;
        height: 30px;
    }
}

